In [2]:
import pandas as pd

In [3]:
df= pd.read_csv ("/content/salary_Data.csv")

In [4]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
df.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
df.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [7]:
df.head(20)

    YearsExperience   Salary
0               1.1  39343.0
1               1.3  46205.0
2               1.5  37731.0
3               2.0  43525.0
4               2.2  39891.0
5               2.9  56642.0
6               3.0  60150.0
7               3.2  54445.0
8               3.2  64445.0
9               3.7  57189.0
10              3.9  63218.0
11              4.0  55794.0
12              4.0  56957.0
13              4.1  57081.0
14              4.5  61111.0
15              4.9  67938.0
16              5.1  66029.0
17              5.3  83088.0
18              5.9  81363.0
19              6.0  93940.0

In [8]:
df.values

array([[1.10000e+00, 3.93430e+04],
       [1.30000e+00, 4.62050e+04],
       [1.50000e+00, 3.77310e+04],
       [2.00000e+00, 4.35250e+04],
       [2.20000e+00, 3.98910e+04],
       [2.90000e+00, 5.66420e+04],
       [3.00000e+00, 6.01500e+04],
       [3.20000e+00, 5.44450e+04],
       [3.20000e+00, 6.44450e+04],
       [3.70000e+00, 5.71890e+04],
       [3.90000e+00, 6.32180e+04],
       [4.00000e+00, 5.57940e+04],
       [4.00000e+00, 5.69570e+04],
       [4.10000e+00, 5.70810e+04],
       [4.50000e+00, 6.11110e+04],
       [4.90000e+00, 6.79380e+04],
       [5.10000e+00, 6.60290e+04],
       [5.30000e+00, 8.30880e+04],
       [5.90000e+00, 8.13630e+04],
       [6.00000e+00, 9.39400e+04],
       [6.80000e+00, 9.17380e+04],
       [7.10000e+00, 9.82730e+04],
       [7.90000e+00, 1.01302e+05],
       [8.20000e+00, 1.13812e+05],
       [8.70000e+00, 1.09431e+05],
       [9.00000e+00, 1.05582e+05],
       [9.50000e+00, 1.16969e+05],
       [9.60000e+00, 1.12635e+05],
       [1.03000e+01, 1.22391e+05],
       [1.05000e+01, 1.21872e+05]])

In [9]:
df.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [10]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [11]:
df.axes

[RangeIndex(start=0, stop=30, step=1),
 Index(['YearsExperience', 'Salary'], dtype='object')]

In [12]:
df.ndim

2

In [13]:
df.size

60

In [14]:
df.shape

(30, 2)

In [29]:
df.describe ()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [16]:
df.max()

YearsExperience        10.5
Salary             122391.0
dtype: float64

In [19]:
df.min()

YearsExperience        1.1
Salary             37731.0
dtype: float64

In [20]:
df.mean()

YearsExperience        5.313333
Salary             76003.000000
dtype: float64

In [21]:
df.median()

YearsExperience        4.7
Salary             65237.0
dtype: float64

In [22]:
df.std()

YearsExperience        2.837888
Salary             27414.429785
dtype: float64

In [26]:
df.sample(5)

    YearsExperience    Salary
26              9.5  116969.0
3               2.0   43525.0
9               3.7   57189.0
16              5.1   66029.0
24              8.7  109431.0

In [28]:
df.dropna()

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [32]:
df.head(50).mean()

YearsExperience        5.313333
Salary             76003.000000
dtype: float64

In [35]:
df.YearsExperience

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: YearsExperience, dtype: float64

In [36]:
df.Salary.describe()

count        30.000000
mean      76003.000000
std       27414.429785
min       37731.000000
25%       56720.750000
50%       65237.000000
75%      100544.750000
max      122391.000000
Name: Salary, dtype: float64

In [38]:
  df.Salary.count()

np.int64(30)

In [42]:
df.Salary.mean()

np.float64(76003.0)

In [47]:
df.groupby('YearsExperience')[['Salary']].mean()

                   Salary
YearsExperience
1.1               39343.0
1.3               46205.0
1.5               37731.0
2.0               43525.0
2.2               39891.0
2.9               56642.0
3.0               60150.0
3.2               59445.0
3.7               57189.0
3.9               63218.0
4.0               56375.5
4.1               57081.0
4.5               61111.0
4.9               67938.0
5.1               66029.0
5.3               83088.0
5.9               81363.0
6.0               93940.0
6.8               91738.0
7.1               98273.0
7.9              101302.0
8.2              113812.0
8.7              109431.0
9.0              105582.0
9.5              116969.0
9.6              112635.0
10.3             122391.0
10.5             121872.0

In [49]:
df['Salary']<=90000

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: Salary, dtype: bool

In [50]:
df[df['Salary']<=90000]

    YearsExperience   Salary
0               1.1  39343.0
1               1.3  46205.0
2               1.5  37731.0
3               2.0  43525.0
4               2.2  39891.0
5               2.9  56642.0
6               3.0  60150.0
7               3.2  54445.0
8               3.2  64445.0
9               3.7  57189.0
10              3.9  63218.0
11              4.0  55794.0
12              4.0  56957.0
13              4.1  57081.0
14              4.5  61111.0
15              4.9  67938.0
16              5.1  66029.0
17              5.3  83088.0
18              5.9  81363.0